footer {
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #302A31;
}

footer hr{
    width: 100%;
}

.principal {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.location{
    display: flex;
    flex-direction: column;
}

.copyright {
    position: relative;
    bottom: 0px;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 20%;
}
.copyright>p{
    text-align: right;
}
.follow h3{
    font-size: 17px;
}

.icons {
    display: flex; 
    gap: 10px; 
}

