.header{
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}
.logo{
    height: 100px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}