.link-button {
    color: #a7a7a7;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.active {
    color: #fff;
}
